<!doctype html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page 403</title>
</head>
<body>
<main layout:fragment="main">
  <div class="container mx-auto">
    <section class="bg-white dark:bg-gray-900 mt-8">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">403</h1>
          <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Accès non autorisé</p>
         <!-- <div class="title mt-6">
            <h1 class="text-3xl font-bold text-center"  th:text="${#authentication.getName()}"></h1>
            <h1 class="text-3xl font-bold text-center"  th:text="${#authentication.getAuthorities()}"></h1>
            <h1 class="text-3xl font-bold text-center"  th:text="${#authentication.getDetails()}"></h1>
            <h1 class="text-3xl font-bold text-center"  th:text="${#authorization}"></h1>
            <h1 class="text-3xl font-bold text-center"  th:text="${#authorization.getAuthentication().getAuthorities()}"></h1>
          </div>-->
          <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Vous n'avez pas accès à cette page, merci de vous redirigé vers l'accueil </p>
          <a th:href="@{/}">
            <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Retour à l'accueil</button>
          </a>
        </div>
      </div>
    </section>
  </div>
</main>


</body>
</html>