<!DOCTYPE html>

<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENI-ENCHERES</title>
    <link rel="stylesheet" th:href="@{./static/css/style.css}">

</head>
<body>

    <!--Condition pour se connecter / deconnecter-->
    <!--<div th:replace="layout/navigation :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
        &copy; 2016 The Static Templates
    </div>-->



    <main layout:fragment="main">

        <div class="container mx-auto">

            <div class="title mt-6">
                <h1 class="text-3xl font-bold text-center">ENI-enchere</h1>
            </div>

            <!--Bloc filtre-->
            <div class="filter w-1/4">
                <div class="filter__search">
                    <p class="text-normal">Filtre : </p>
                    <div>
                        <!-- <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Rechercher</label>-->
                        <div class="relative mt-2 rounded-md shadow-sm">
                            <input type="text" name="search" id="price" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Ex: Audi A3"/>
                        </div>
                    </div>
                </div>
                <form th:action="@{/film/save}" th:object="${categories}" action="POST">
                    <label for="categories" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Catégorires</label>
                    <select id="categories" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option th:each="categorie: ${@categorieService.getCategories()}"  th:value="${categorie.no_categorie}" th:text="${categorie.libelle}">
                        </option>

                    </select>
                </form>
                <div class="filter__categories">


                    <div class="grid grid-cols-2">
                        <div class="flex flex-col">
                            <div class="filter__categories-group">

                            </div>
                            <label class="inline-flex items-center mt-3">
                                <input type="radio" class="form-radio h-5 w-5 text-gray-600" checked><span class="ml-2 text-gray-700">Achat</span>
                            </label>

                            <div class="filter_categories-item flex flex-col ml-5">
                                <label class="inline-flex items-center mt-3">
                                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" ><span class="ml-2 text-gray-700">Enchères ouvertes</span>
                                </label>
                                <label class="inline-flex items-center mt-3">
                                    <input type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" ><span class="ml-2 text-gray-700">Mes enchères en cours</span>
                                </label>
                                <label class="inline-flex items-center mt-3">
                                    <input type="checkbox" class="form-checkbox h-5 w-5 text-red-600" ><span class="ml-2 text-gray-700">Mes enchères remportés</span>
                                </label>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <div class="filter__categories-group">

                            </div>
                            <label class="inline-flex items-center mt-3">
                                <input type="radio" class="form-radio h-5 w-5 text-gray-600" ><span class="ml-2 text-gray-700">Mes ventes</span>
                            </label>

                            <div class="filter_categories-item flex flex-col ml-5">
                                <label class="inline-flex items-center mt-3">
                                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" ><span class="ml-2 text-gray-700">Mes ventes en cours</span>
                                </label>
                                <label class="inline-flex items-center mt-3">
                                    <input type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" ><span class="ml-2 text-gray-700">ventes non débutés</span>
                                </label>
                                <label class="inline-flex items-center mt-3">
                                    <input type="checkbox" class="form-checkbox h-5 w-5 text-red-600" ><span class="ml-2 text-gray-700">ventes terminées</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article mt-8">
                <div class="grid grid-cols-4 gap-4">

                    <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pc Gamer Asus</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Prix : <span class="text-normal font-bold"> 210 points</span></p>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Fin de l'enchere : <span class="text-normal font-bold"> 26/06/2023</span></p>
                        <p class="mt-5 font-normal text-gray-700 dark:text-gray-400">Vendeur : <span class="text-normal font-bold"> User1</span></p>
                    </a>

                    <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Macbook M2 Pro</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Prix : <span class="text-normal font-bold"> 350 points</span></p>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Fin de l'enchere : <span class="text-normal font-bold"> 26/06/2023</span></p>
                        <p class="mt-5 font-normal text-gray-700 dark:text-gray-400">Vendeur : <span class="text-normal font-bold"> User2</span></p>
                    </a>
                </div>
            </div>

        </div>

    </main>

   <!-- <main layout:decorate=""></main>-->



</body>
</html>