<!DOCTYPE html>

<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENI-ENCHERES</title>

</head>
<body>

    <!--Condition pour se connecter / deconnecter-->
    <!--<div th:replace="layout/navigation :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
        &copy; 2016 The Static Templates
    </div>-->

    <main layout:fragment="main">

        <div class="container mx-auto">

          <!--  <div class="title mt-6">
                <h1 class="text-3xl font-bold text-center">ENI-enchere</h1>
            </div>-->

            <!--<div class="title mt-6">
                <h1 class="text-3xl font-bold text-center"  th:text ="${#authentication.getName()}"></h1>
                <h1 class="text-3xl font-bold text-center"  th:text ="${#authentication.getAuthorities()}"></h1>
            </div>-->

            <!--Bloc filtre-->
            <div class="filtre-container flex justify-between">
                <div class="filter">
                    <div class="filter__search">
                        <p class="text-normal">Filtre : </p>
                        <form th:action="@{/search}" th:object="${articleSearch}" method="POST">
                            <div class=" flex ">
                               <!--<label  class="block text-sm font-medium leading-6 text-gray-900">Rechercher</label>-->
                                <div class="relative mt-2 rounded-md shadow-sm">
                                    <input type="text" name="search" id="search" th:field="*{nom_article}"  class="block w-full rounded-md border-0 py-2 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Ex: Audi A3"/>
                                </div>
                                <button type="submit" class=" ml-1 text-blue-700 text-sm border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center inline-flex items-center mr-1 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                    </svg>

                                    <span class="sr-only">Icon search</span>
                                </button>

                            </div>
                        </form>

                    </div>
                    <div class="filter__categories" sec:authorize="isAuthenticated()">
                        <div class="grid grid-cols-2 mt-5" >
                            <div class="flex flex-col ">
                                <input type="hidden" id="searchActionUrl" th:value="@{/searchFilter}" />
                                <label class="inline-flex items-center mt-3">
                                    <input type="radio" name="filtre" class="form-radio h-5 w-5 text-gray-400" id="achat-btn"><span class="ml-2 text-gray-700">Achat</span>
                                </label>

                                <div class="filter_categories-item flex flex-col ml-5" id="check1">
                                    <label class="inline-flex items-center mt-3">
                                        <input type="checkbox" id="enchOuverte" onchange="rechercher()" class="form-checkbox h-5 w-5 " ><span class="ml-2 text-gray-700">Enchères ouvertes</span>
                                    </label>
                                    <label class="inline-flex items-center mt-3">
                                        <input type="checkbox" id="enchEnCours" onchange="rechercher()" class="form-checkbox h-5 w-5 " ><span class="ml-2 text-gray-700">Mes enchères en cours</span>
                                    </label>
                                    <label class="inline-flex items-center mt-3">
                                        <input type="checkbox" id="enchRemporte" onchange="rechercher()" class="form-checkbox h-5 w-5 " ><span class="ml-2 text-gray-700">Mes enchères remportés</span>
                                    </label>
                                </div>
                            </div>

                            <div class="flex flex-col">
                                <div class="filter__categories-group">

                                </div>
                                <label class="inline-flex items-center mt-3">
                                    <input id="vente-btn" name="filtre" type="radio" class="form-radio h-5 w-5 text-gray-400" ><span class="ml-2 text-gray-700">Mes ventes</span>
                                </label>

                                <div class="filter_categories-item flex flex-col ml-5"  >
                                    <label class="inline-flex items-center mt-3">
                                        <input type="checkbox" id="venteEnCours" onchange="rechercher()" class="form-checkbox h-5 w-5 text-gray-600" ><span class="ml-2 text-gray-700">Ventes en cours</span>
                                    </label>
                                    <label class="inline-flex items-center mt-3">
                                        <input type="checkbox"  id="venteNonDebuté" onchange="rechercher()" class="check2 form-checkbox h-5 w-5 text-orange-600" ><span class="ml-2 text-gray-700">Ventes non débutés</span>
                                    </label>
                                    <label class="inline-flex items-center mt-3">
                                        <input type="checkbox"  id="venteTerminé" onchange="rechercher()" class="check2 form-checkbox h-5 w-5 text-red-600"  ><span class="ml-2 text-gray-700">Ventes terminées</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter__categories-select">
                    <form th:action="@{/403}" th:object="${categories}" action="POST">
                        <label for="categories" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Catégorires</label>
                        <select id="categories" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option th:each="categorie: ${@categorieService.getCategories()}"  th:value="${categorie.no_categorie}" th:text="${categorie.libelle}">
                            </option>

                        </select>
                    </form>
                </div>
            </div>



            <div class="article mt-8">
                <div th:if="${#lists.isEmpty(articles)}">
                    <h2 class="text-center text-normal text-xl font-bold text-gray-500">Aucun article trouvé.</h2>
                </div>
                <div class="grid grid-cols-4 gap-4">
                    <!--Récupération des encheres-->
                    <div class="card__article"  data-th-each="article : ${articles}">
                        <!--data-th-href="@{/admin/detail-user(no_utilisateur=${item.no_utilisateur})}"-->
                       <span hidden="hidden" data-th-text="${article.no_article}"></span>
                        <a th:href="@{/vente(no_article=${article.no_article})}" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" data-th-text="${article.nom_article}"></h5>
                            <p class="font-normal text-gray-700 dark:text-gray-400">Prix : <span class="text-normal font-bold" data-th-text="${article.prix_initial}">  </span></p>
                            <p class="font-normal text-gray-700 dark:text-gray-400">Fin de l'enchere : <span class="text-normal font-bold" data-th-text="${article.date_fin_encheres}"> </span></p>
                            <p class="mt-5 font-normal text-gray-700 dark:text-gray-400">Vendeur : <span class="text-normal font-bold" data-th-text="${article.utilisateurs.pseudo}"> </span></p>
                        </a>
                    </div>

                   <!-- <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" >Macbook M2 Pro</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Prix : <span class="text-normal font-bold"> 350 points</span></p>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Fin de l'enchere : <span class="text-normal font-bold"> 26/06/2023</span></p>
                        <p class="mt-5 font-normal text-gray-700 dark:text-gray-400">Vendeur : <span class="text-normal font-bold"> User2</span></p>
                    </a>-->
                </div>

            </div>

        </div>

    </main>

   <!-- <main layout:decorate=""></main>-->



</body>
</html>