<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main layout:fragment="main">

  <div class="container mx-auto">
    <h1>Modification du profil</h1>
   <div class="formRegister">

      <!-- <input type="text" th:field="*{annee}" id="anneeInput" />
       <span class="error-text" th:if="${#fields.hasErrors('annee')}">
                     <span class="error-text" th:each="erreur: ${#fields.errors('annee')}" th:text="${erreur}"></span>-->

      <!--Formulaire d'inscription-->

      <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Modifier mon profil</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm w-10/12">
          <form class="space-y-6 " th:object="${utilisateurs}" th:action="@{/user/edit}" method="POST">
            <div class="grid grid-cols-2 gap-8 ">
              <div class="form__left">
                <div class="mt-5">
                  <label for="pseudo"  class="block text-sm font-medium leading-6 text-gray-900">Pseudo</label>

                  <div class="mt-2">
                    <input th:field="*{pseudo}" id="pseudo" name="pseudo" type="text" autocomplete="pseudo"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="mt-5">
                  <label for="nom" class="block text-sm font-medium leading-6 text-gray-900">Nom</label>
                  <div class="mt-2">
                    <input th:field="*{nom}" id="nom" name="nom" type="text" autocomplete="nom" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="mt-5">
                  <label for="prenom" class="block text-sm font-medium leading-6 text-gray-900">Prenom</label>
                  <div class="mt-2">
                    <input th:field="*{prenom}" id="prenom" name="prenom" type="text" autocomplete="prenom"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="mt-5">
                  <label for="numberPhone" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                  <div class="mt-2">
                    <input th:field="*{email}" id="email" name="email" type="text" autocomplete="email"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="mt-5">
                  <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de passe</label>
                    <!-- <div class="text-sm">
                       <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Mot de passe oublié</a>
                     </div>-->
                  </div>
                  <div class="mt-2">
                    <input th:field="*{mot_de_passe}" id="password" name="password" type="password" autocomplete="current-password"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>
              </div>

              <div class="form__right">

                <div class="mt-5">
                  <label for="numberPhone" class="block text-sm font-medium leading-6 text-gray-900">Telephone</label>
                  <div class="mt-2">
                    <input th:field="*{telephone}" id="numberPhone" name="telephone" type="text" autocomplete="telephone"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="mt-5">
                  <label for="codePostal" class="block text-sm font-medium leading-6 text-gray-900">Code postal</label>
                  <div class="mt-2">
                    <input th:field="*{code_postal}" id="codePostal" name="code_postal" type="text" autocomplete="code postal"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="mt-5">
                  <label for="rue" class="block text-sm font-medium leading-6 text-gray-900">Rue</label>
                  <div class="mt-2">
                    <input th:field="*{rue}" id="rue" name="rue" type="text" autocomplete="rue"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="mt-5">
                  <label for="ville" class="block text-sm font-medium leading-6 text-gray-900">Ville</label>
                  <div class="mt-2">
                    <input th:field="*{ville}" id="ville" name="email" type="text" autocomplete="ville"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <!--<div class="mt-5">
                  <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Confirmation</label>

                    &lt;!&ndash;Condition d'affichage du moty de passe oublié&ndash;&gt;
                    &lt;!&ndash;<div class="text-sm">
                      <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Mot de passe oublié</a>
                    </div>&ndash;&gt;
                  </div>
                  <div class="mt-2">
                    &lt;!&ndash;Th-field pour la gestion de la vérification du MDP-->
                    <!--<input th:field="*{confirmPassword}" id="confirmPassword" name="confirm-password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>-->


              </div>
            </div>
            <div>
              <button type="submit" class="flex w-1/4 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Modifier</button>
              <a th:href="@{/user/delete}" class="flex w-1/4 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Supprimer mon compte
              </a>
            </div>
            <input type="hidden" hidden="hidden" name="no_utilisateur" th:value="${utilisateurs.no_utilisateur}">
          </form>

        </div>

      </div>

    </div>

  </div>
</main>

</body>
</html>